@import './themes/colors';
@import './themes/fonts';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../images/spaceBGI.jpg');
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

a {
    text-decoration: none;
}

button {
    border: 0;
    outline: 0;
}

ul,
li,
ol {
    list-style: none;
}

p, 
span,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

fieldset {
    border: 0;
}
